# Server
PORT=
DEBUG=
SERVER_READ_TIMEOUT=
SERVER_WRITE_TIMEOUT=
SERVER_IDLE_TIMEOUT=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_MODE=
DB_MAX_CONNS=
DB_CONN_TIMEOUT=

# Auth
JWT_SECRET=
JWT_EXPIRY=
PASSWORD_SALT=
TOKEN_ISSUER=